<div class="flex  h-screen justify-center">
    <form (ngSubmit)="login()" class="p-4 rounded border m-auto">
        <h3 class="text-center text-xl">Login</h3>
        <div class="my-5">
            <label for="email">Email:</label>
            <input type="email" [(ngModel)]="loginForm.email" name="email" id="email" placeholder="Enter Email"
                class="p-2 rounded w-full border">
        </div>
        <div class="my-5">
            <label for="pwd">Password:</label>
            <input type="password" [(ngModel)]="loginForm.password" name="password" id="pwd" placeholder="Enter Password"
                class="p-2 rounded w-full border">
        </div>
        <div class="my-5">
            <button type="submit" class="p-2 w-full text-white rounded bg-red-400 hover:bg-red-300">Login</button>
        </div>

        {{loginForm.email}}| {{loginForm.password}}
    </form>
</div>