<div>
    <label for="name">Enter Your Name: </label>
    <input type="text" name="" id="" [(ngModel)]="myName" />
</div>
<p *ngIf="myName">Welcome, {{myName}} to Sample Book Store</p>
<button (click)="toggleDisplay()">{{btnName}}</button>
<div *ngIf="isDisplayed">
    <ul>
        <li>{{name}} by {{author}}
            <img src="{{imgUrl}}" alt="{{name}}" width="100px">
        </li>
        <!-- Below code: Good Way. set path programitacally property binding-->

        <li>{{name}} by {{author}}
            <img [src]="imgUrl" [alt]="name" width="100px">
        </li>
    </ul>
</div>
<hr>
<p>With Book Array</p>
<div *ngIf="isDisplayed">
    <ul>
        <li *ngFor="let item of bookList; let i = index">
            {{i+1}}
            {{item.name}} by {{item.author}}
            <img [src]="item.imgUrl" [alt]="item.name" width="100px">
        </li>
    </ul>
</div>