<div>
    <label for="name">Enter Your Name: </label>
    <input type="text" name="" id="" [(ngModel)]="myName" />
</div>
<p *ngIf="myName">Welcome, {{myName}} to Sample Book Store</p>
<button (click)="toggleDisplay()">{{btnName}}</button>
<div *ngIf="isDisplayed">
    <ul>
        <li>{{name}} by {{author}}
            <img src="{{imgUrl}}" alt="{{name}}" width="100px">
        </li>
        <!-- Below code: Good Way. set path programitacally property binding-->

        <li>{{name}} by {{author}}
            <img [src]="imgUrl" [alt]="name" width="100px">
        </li>
    </ul>
</div>
<hr>

<div *ngIf="isDisplayed">
    <p>With Book Array</p>
    <ol>
        <ng-container *ngFor="let item of bookList">
            <!-- <li class="book">
                {{item.name | titlecase }} by {{item.author | uppercase}}
                <img [src]="item.imgUrl" [alt]="item.name" width="100px">
                <span>{{item.amount | currency:'INR'}}</span>
                <button>Add to Cart</button>
            </li> -->

            <!-- PARENT TO CHILD DATA -->
            <app-book (emitBook)="addToCartParent($event)" [eachBookItem]="item"></app-book>
        </ng-container>
    </ol>

</div>