<div>
    <label for="name">Enter Your Name: </label>
    <input type="text" name="" id="" [(ngModel)]="myName" class="bg-red-200 border-spacing-0" />
</div>
<p *ngIf="myName">Welcome, {{myName}} to Sample Book Store</p>
<hr>
<button class="m-auto bg-red-300 rounded p-3" (click)="toggleDisplay()">{{btnName}}</button>

<!-- NOTE: it was basic so commenting -->
<!-- <div *ngIf="isDisplayed">
    <ul>
        <li>{{name}} by {{author}}
            <img src="{{imgUrl}}" alt="{{name}}" width="100px">
        </li>
        NOTE: Below code: Good Way. set path programitacally property binding

        <li>{{name}} by {{author}}
            <img [src]="imgUrl" [alt]="name" width="100px">
        </li>
    </ul>
</div>
<hr> -->

<div *ngIf="isDisplayed">
    <!-- <p>With Book Array</p> -->
    <ol>
        <ng-container *ngFor="let item of bookList">
            <!-- <li class="book">
                {{item.name | titlecase }} by {{item.author | uppercase}}
                <img [src]="item.imgUrl" [alt]="item.name" width="100px">
                <span>{{item.amount | currency:'INR'}}</span>
                <button>Add to Cart</button>
            </li> -->

            <!-- PARENT TO CHILD DATA -->
            <!-- <app-book (emitBook)="addToCartParent($event)" [eachBookItem]="item"></app-book> -->
            <app-book [eachBookItem]="item" class="w-1 p-5 text-center"></app-book>
        </ng-container>
    </ol>

</div>