<div class="flex  h-screen justify-center">
    <form (ngSubmit)="register()" #mySignUpForm="ngForm" class="p-4 rounded border m-auto">
        <h3 class="text-center text-xl">Sign Up</h3>
        <div class="my-5">
            <label for="email">Email:</label>
            <input type="email" [(ngModel)]="signupForm.email" name="email" #email="ngModel" id="email"
                placeholder="Enter Email" class="p-2 rounded w-full border" required>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="p-2 text-red-500">
                <span class="text-xs">* Please Enter Email</span>
            </div>
        </div>
        <div class="my-5">
            <label for="pwd">Password:</label>
            <input type="password" [(ngModel)]="signupForm.password" name="password" #password="ngModel" id="pwd"
                placeholder="Enter Password" class="p-2 rounded w-full border" required>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="p-2 text-red-500">
                <span class="text-xs">* Please Enter Password</span>
            </div>
        </div>
        <div class="my-5">
            <label for="pwdConfirm">Confirm Password:</label>
            <input type="password" [(ngModel)]="signupForm.confirmPassword" name="confirmPassword"
                #confirmPassword="ngModel" id="pwdConfirm" placeholder="Enter Password"
                class="p-2 rounded w-full border" required>
            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                class="p-2 text-red-500">
                <span class="text-xs">* Please Enter Confirm Password</span>
            </div>
            <span class="p-2 text-red-500 text-xs" *ngIf="!isPasswordMatched">Password mismatch, Retry</span>
        </div>
        <div class="my-5">
            <button type="submit" [disabled]="mySignUpForm.form.invalid"
                class="p-2 w-full text-white rounded bg-red-400 hover:bg-red-300">Register</button>
        </div>
    </form>

</div>