<!-- <pre>Running</pre> -->

<!-- NOTE: creating nav using tailwind -->

<nav class="flex justify-between p-4 bg-red-400 text-white">
    <div>
        <a class="mx-3" routerLink="/">Main Page</a>
    </div>
    <div>
        <a class="mx-3" routerLink="/cart">My Cart</a>
    </div>
    <div>
        <a class="mx-3" routerLink="/login">Login</a>
    </div>
    <div>
        <a class="mx-3" routerLink="/signup">Sign Up</a>
    </div>
</nav>


<!-- commnenting for routing -->
<!-- <app-cart></app-cart>
<app-books></app-books> -->

<div class="content p-5">
    <router-outlet></router-outlet>
</div>